.search-box{

width:40%;
display: inline;
align-items: center;
padding: 0px 10px;

}

.search-box input{
  position: relative;
  background:white;
  width: 88%;
  padding: 2%;
 border-radius: 40px;
 border: none;
 outline: none;
}
.search-box button{
  background: none;
  border: none;
}
.search-box input:hover{
  background-image: linear-gradient(to right, beige, rgb(233, 151, 164));
}
.search-box button:hover{
  color:rgb(223, 91, 113);

}
nav{
    width: auto;
    background-color: beige;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0%;
   

}
nav a{
margin-left: 4%;
font-size: 180%;
    color: black;
}
#logo{
   width: 13%;
height: 5%;
margin-right:15% ;
margin-left: 3%;

}
.phone{
    margin: 0% 5%;
    align-items: center;
}
.phone i{
    font-size: 180%;  
}
.phone strong{
position: absolute;
  top:6%;
}

.nav1{
  position: relative;
  left:5%;
  display: flex;
 
}
.nav1 a{
   margin-left: 30%;
}
.nav1 a i{
 font-size: 120%;
}
#comment{
  position: relative;
  top: 15%;
}
.nav1 a i:hover{
  color:rgb(223, 91, 113);
}
.menu {
    font-size: 200%;  
    margin-left:1%; 
}
.category li{
    list-style: none;
    font-size: 180%;
      margin-top:3%;
}
.category{
    margin: 0% 0 0 0;
    width:4%;
   background-color: beige;
   
}
.category a span {
 padding: 5% ;
    display: block;
  text-align: center;
 margin-left: 0%;
  transition: all 0.3s ease;
  font-size:220%;
  margin-bottom:80%;
  
}/* partie de sous menu pour chaque categories*/
#books {
    cursor: pointer;
    width: 0;
    position:absolute;
    height: 40%;
    top: 15%;
    left: 5%;
    background-color: beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  #food  {
    width: 0;
    position:absolute;
    cursor: pointer;
    height: 40%;
    top: 15%;
    left: 5%;
    background-color:beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  #biblio {
    cursor: pointer;
    width: 0;
    position:absolute;
    height: 40%;
    top: 15%;
    left: 5%;
    background-color: beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  #Vetement {
    width: 0;
    position:absolute;
    cursor: pointer;
    height: 40%;
    top: 15%;
    left: 5%;
    background-color: beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  #home {
    width: 0;
    position:absolute;
    height: 72%;
    top: 15%;
    left: 5%;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 1%;
    cursor: pointer;
  }
  #electro {
    width: 0;
    position:absolute;
    height: 30%;
    top: 15%;
    left: 5%;
    cursor: pointer;
    background-color: beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .category a span:hover {
  color:rgb(223, 91, 113);
    cursor: pointer;

  }
 


  /* partie de publicite*/
  .slide-pub{
   z-index: -2;
    position: absolute;
    top: 20%;
    left: 8%;
}


  /*partie de produits*/
.row img{
width:40%;
height: 50%;

  }

.row .col-md-4{
background-color: rgb(158, 158, 96);
margin: 5px 0px;
border-radius: 5%;
height: auto;



}

.row .col-md-4.ssmenu{
  background-color: azure;
  border-radius:2%;
  margin: 5% 1% 0% 2%;
  width: 30%;
   
}
.row .col-md-4.ssmenu  li {
  list-style: none;
  

}
.row .col-md-4.ssmenu a{
  text-decoration: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: aquamarine;

  
}
#home h2{
  
  position: absolute;
  top: 15px;
  left: 42%;
}